{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>The Lost Island </title>
        <link rel="icon" sizes="16x16" href="{% static 'lostislandapp/favicon-16x16.png' %}"/>
        <link rel="stylesheet" href="{% static 'lostislandapp/exercises.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function onExerciseTypeSelection(){
                var exerciseTypeName = document.getElementById('exercise_type').value;
                let selector = document.getElementById('body_part');
                selector.length = 0;
                let defaultOption = document.createElement('option');
                defaultOption.text = '-- Select a body part to focus on --';
                selector.add(defaultOption);
                let allOption = document.createElement('option');
                allOption.text = 'All';
                selector.add(allOption);
                selector.selectedIndex = 0;

                const url = 'http://127.0.0.1:8080/thelostisland/request_available_body_parts/' + exerciseTypeName;
                
                const xhttp = new XMLHttpRequest();
                xhttp.open('GET', url, true)
                xhttp.onload = function() {

                    if (xhttp.status == 200){
                        const bodyPartsList = JSON.parse(xhttp.responseText);
                        console.debug('Body Parts List: ', bodyPartsList);
                        console.debug('Body Parts List length: ', bodyPartsList.length);
                        let option;
                        for (let i = 0; i < bodyPartsList.length; i ++){
                            bodyPartName = bodyPartsList[i];
                            console.debug('Body Part Name :', bodyPartName);
                            option = document.createElement('option');
                            option.text = bodyPartName;
                            option.value = bodyPartName;
                            selector.add(option);
                        }
                    }
                    else{
                        console.error(xhttp.status + ': ' + xhttp.statusText);
                    }

                    document.getElementById('exercise_type');
                }

                xhttp.onerror = function() {
                    console.error('An error happened with ' + url)
                }

                xhttp.send();
            }

        </script>
    </head>
    <body class="newgame">
        <div class="text">
            <p class="title">The Lost Island</p>
        </div>
        <div class="spacer"></div>
        <form class="text" action="/thelostisland/game" method="post">
            {% csrf_token %}
            <p class="title">Customize your adventure!</p>
            <div class="row">
                <p class="description rowblock"> Player's Name </p>
                <input id="player_name" name="player_name" class="textinput rowblock" type="text" required="true"></input>
            </div>
            <div class="row">
                <p class="description rowblock"> Exercise Type Focus</p>
                <select id="exercise_type" name="exercise_type" class="dropdownbutton rowblock" type="text" required="true", onclick="onExerciseTypeSelection()">
                    <option disabled="true" selected> -- Select an exercise type -- </option>
                    {% for exercise_type in exercises_types %}
                    <option>{{ exercise_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <p class="description rowblock"> Body Part Focus</p>
                <select id="body_part" name="body_part"class="dropdownbutton rowblock" type="text" required="true">
                    <option disabled="true" selected> -- Select a body part to focus on --</option>
                    <option>All body parts</option>
                    {% for body_part in body_parts_names %}
                    <option>{{ body_part }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="button" type="submit" value="Start Game"/>
        </form>
    </body>
</html> 